// Colors
$color-title: #000;
$color-subtitle: #696969;
$color-icon: #fff;
$color-icon-background: #000;
$color-component-border: #e0e0e0;
$color-icon-border: #e0e0e0;
$color-background: #fff;

// Sizes
$component-padding-default: 0.5rem 0;
$component-padding-box: 0.5rem;
$component-gap: 0.5rem;

$icon-padding: 0.25rem;

$title-gap: 0.25rem;

$component-border-radius: 0.5rem;
$icon-border-radius: 0.5rem;

// Fonts
$font-size-title: 2em;
$font-size-subtitle: 1em;
$font-size-icon: 3em;

// Responsive
$font-size-title-sm: 1.25em;
$font-size-subtitle-sm: 0.75em;
$font-size-icon-sm: 2em;

$font-size-title-md: 1.75em;
$font-size-subtitle-md: 1em;
$font-size-icon-md: 2.5em;

// Breakpoints
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;